html {
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100vh;
    max-height: max-content;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/sitebg.png);
    animation: background 5s ease-in-out infinite;
    z-index: 0;
}

@keyframes background {
    0% {
        background-size: 100% 100%;
    }

    25% {
        background-size: 150% 150%;
    }

    50% {
        background-size: 200% 200%;
    }

    75% {
        background-size: 150% 150%;
    }

    100% {
        background-size: 100% 100%;
    }
}