@charset "UTF-8";
@import url(variables.css);

section#download {
    min-height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#download section.container h1 {
    position: relative;
    font-size: 3.5rem;
    color: rgba(245, 245, 245, 0.712);
    font-family: var(--Oswald);
}

section#download section.container h1 span {
    font-family: var(--OpenSans);
}

section#download section.container h1 span.one {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    animation: bounce .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

section#download section.container h1 span.two {
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    animation: bounce .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s infinite;
}

section#download section.container h1 span.three {
    position: absolute;
    bottom: 0;
    margin-left: 45px;
    animation: bounce .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s infinite;
}

@keyframes bounce {
    0% {
        position: absolute;
        bottom: 0;
    }

    50% {
        position: absolute;
        bottom: 1vh;
    }

    100% {
        position: absolute;
        bottom: 0;
    }
}