@charset "UTF-8";
@import url(variables.css);

header {
    user-select: none;
    background-color: var(--headerBackground);
    height: 6vh;
    padding-bottom: 5px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

header::after {
    content: '';
    height: 1.5px;
    width: 98%;
    border-radius: 5px;
    background-color: rgba(167, 167, 167, 0.692);
    position: absolute;
    bottom: 0;
}

header section {
    height: 100%;
    width: 95%;
}

header section aside.container {
    width: 50%;
    height: max-content;
    display: flex;
    align-items: center;
}

header section aside.container aside.img {
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
    display: inline-flex;
}

header section aside.container aside.img img {
    height: 4vh;
    width: max-content;
    border-radius: 5px;
}

header section aside.container aside.sections {
    margin-left: 4%;
    width: max-content;
    height: 100%;
}

header section aside.container aside.sections nav {
    display: flex;
    gap: 1.5rem;
}

header section aside.container aside.sections nav a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9em;
    font-family: var(--OpenSans);
    font-weight: 500;
    transition-duration: .3s;
}

.gg-arrow-top-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    transform: scale(var(--ggs,.85));
    border-right: 2px solid;
    color: rgb(173, 170, 170);
    transition-duration: .4s;
}
.gg-arrow-top-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 3px;
    right: -3px;
}

header section aside.container aside.sections nav a:hover .gg-arrow-top-right {
    transform: scaleY(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
}

header section aside.container aside.menu {
    display: none;
}