@charset "UTF-8";
@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
}

/* body */

body {
    position: relative;
    min-height: 100vh;
    max-height: max-content;
    overflow-x: hidden;
    background-image: url(../img/sitebg.png);
    animation: background 5s ease-in-out infinite;
    z-index: 0;
}

@keyframes background {
    0% {
        background-size: 100% 100%;
    }

    25% {
        background-size: 150% 150%;
    }

    50% {
        background-size: 200% 200%;
    }

    75% {
        background-size: 150% 150%;
    }

    100% {
        background-size: 100% 100%;
    }
}

/* header */

header {
    user-select: none;
    background-color: var(--headerBackground);
    height: 6vh;
    padding-bottom: 5px;
    width: 100vw;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: center;
}

header::after {
    content: '';
    height: 1.5px;
    width: 98%;
    border-radius: 5px;
    background-color: rgba(167, 167, 167, 0.692);
    position: absolute;
    bottom: 0;
}

header section {
    height: 100%;
    width: 95%;
}

header section aside.container1 {
    width: 50%;
    height: max-content;
    display: flex;
    align-items: center;
}

header section aside.container1 aside.img {
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
    display: inline-flex;
}

header section aside.container1 aside.img img {
    height: 4vh;
    border-radius: 5px;
}

header section aside.container1 aside.sections {
    margin-left: 4%;
    width: max-content;
    height: 100%;
}

header section aside.container1 aside.sections nav {
    display: flex;
    gap: 1.5rem;
}

header section aside.container1 aside.sections nav a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9em;
    font-family: var(--OpenSans);
    font-weight: 500;
    transition-duration: .3s;
}

.gg-arrow-top-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    transform: scale(var(--ggs,.85));
    border-right: 2px solid;
    color: rgb(173, 170, 170);
    transition-duration: .4s;
}
.gg-arrow-top-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 3px;
    right: -3px;
}

header section aside.container1 aside.sections nav a:hover .gg-arrow-top-right {
    transform: scaleY(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
}

/* main */

main {
    min-height: 88vh;
    width: 100vw;
    background: var(--mainBackground);
    position: relative;
    max-height: max-content;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
}

main section#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    width: 100vw;
}

main section.home {
    width: 80%;
    height: 44vh;
    display: flex;
    justify-content: space-around;
}

main section.home aside.info {
    max-width: 30%;
    height: 100%;
}

main section.home aside.info div.updates {
    width: 100%;
    height: 32px;
    border: 2px solid rgba(128, 128, 128, 0.507);
    background-color: #2c3437;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: .8s;
    display: flex;
    align-items: center;
    gap: 5px;
}

main section.home aside.info div.updates:hover {
    box-shadow: 0px 0px 10px #7359a4a8;
}

main section.home aside.info div.updates span.title {
    color: whitesmoke;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    margin-left: 4px;
    background-color: #7359A4;
    box-shadow: 0px 0px 5px #7359a454;
    border-radius: 20px;
    height: 84%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.home aside.info div.updates span.title p {
    margin: 0;
    font-size: .8em;
    color: whitesmoke;
    font-family: var(--Ubuntu);
    font-weight: 400;
}

main section.home aside.info div.updates span.description {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.home aside.info div.updates span.description p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 1em;
    color: whitesmoke;
    font-family: var(--OpenSans);
    font-weight: 400;
}

main section.home aside.info div.updates span.description p svg {
    transition-duration: .8s;
}

main section.home aside.info div.updates:hover span.description p svg {
    transform: scaleX(1.2);
}

main section.home aside.info h1 {
    margin-top: 10px;
    color: white;
    font-family: var(--Ubuntu);
    font-size: 3em;
    font-weight: 500;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
}

main section.home aside.info h2 {
    color: #d1ccdb;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
    font-family: var(--Ubuntu);
    font-size: 2em;
    font-weight: 500;
    margin-top: 12px;
}

main section.home aside.info h2 span {
    color: #7359A4;
    transition: .5s;
}

main section.home aside.info:hover h2 span {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.24);
}

main section.home aside.info p {
    color: rgba(245, 245, 245, 0.733);
    margin-top: 1vh;
    font-family: var(--OpenSans);
    font-weight: 600;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
}

main section.home aside.info a {
    margin-top: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #775b9356;
    border: 2px solid #876aa5d7;
    cursor: pointer;
    font-family: var(--OpenSans);
    color: whitesmoke;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

main section.home aside.info a:hover {
    background-color: #42335f;
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.432);
    box-shadow: 0 0 4px #fff, 0 0 10px #876aa5d7, 0 0 15px #876aa5d7;
}

main section.home aside.info img {
    width: 50%;
}

main section.home aside.example {
    min-height: 80%;
    max-height: max-content;
}

main section.home aside.example section.code {
    width: 39.8vw;
    height: 90%;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    border-radius: 15px;
    border: 2px solid rgba(105, 105, 105, 0.801);
    transition: .8s;
}

main section.home aside.example section.code:hover {
    box-shadow: 0px 0px 15px rgba(49, 49, 49, 0.712);
}

main section.home aside.example section.code aside.select {
    height: 10%;
    width: 100%;
    border-bottom: 2px solid rgba(105, 105, 105, 0.801);
    display: flex;
    align-items: center;
}

main section.home aside.example section.code aside.select nav {
    margin-left: 10px;
    color: rgba(245, 245, 245, 0.685);
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

main section.home aside.example section.code aside.select nav button.selected {
    color: rgba(245, 245, 245, 0.911);
}

main section.home aside.example section.code aside.select nav button.selected::after {
    transition: .8s;
    content: '';
    width: 110%;
    height: 2px;
    background-color: #7359A4;
    box-shadow: 0px -5px 10px #7359A4, 0px -5px 20px #7359A4, 0px -5px 30px #7359A4, 0px -5px 40px #7359A4, 0px -5px 70px #7359A4;
    z-index: 2;
    position: absolute;
    bottom: 1%;
    left: -5%;
}

main section.home aside.example section.code aside.select nav button {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
    height: 100%;
    background: transparent;
    color: rgba(245, 245, 245, 0.61);
    font-family: var(--Ubuntu);
    font-size: .85em;
    transition: .8s;
    z-index: 1;
}

main section.home aside.example section.code aside.code {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.home aside.example section.code aside.code code {
    display: block;
    height: 90%;
    width: 90%;
}

main section.home aside.example section.code aside.code code span {
    color: rgb(165, 164, 164);
    font-family: var(--codeFont);
    line-height: 1.2em;
}

/* footer */

footer {
    z-index: 9;
    height: 6vh;
    width: 100vw;
    user-select: none;
    background: var(--footerBackground);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer::before {
    content: '';
    height: 1.5px;
    width: 98%;
    border-radius: 5px;
    background-color: rgba(167, 167, 167, 0.692);
    position: absolute;
    top: 0;
}

footer section {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

footer section h2 {
    color: whitesmoke;
    font-family: var(--OpenSans);
    font-weight: 400;
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section h2 svg {
    height: 1.25em;
}