div#load {
    display: none;
}

div#load.loaded {
    display: block;
    animation: opacity .8s ease-in-out forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section#loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section#loading aside.load div.load {
    opacity: 1;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: 2vh solid gray;
    border-top-color: blueviolet;
    animation: rotate 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transition: .8s ease-in-out;
}

section#loading aside.load div.load.opacity {
    opacity: 0;
}

section#loading aside.load div.load.none {
    display: none;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

section#loading aside.load div.logo {
    display: none;
}

section#loading aside.load div.logo.block {
    display: block;
    opacity: 1;
    transition: .8s ease-in-out;
    animation: logo 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        scale: 1.5;
    }

    75% {
        scale: 1;
    }

    100% {
        opacity: 0;
    }
}

section#loading aside.load div.logo img {
    width: 8vw;
    height: 8vw;
}