main {
    height: 87.52vh;
    margin: 0;
    width: max-content;
    background: var(--mainBackground);
    margin-left: var(--MarginMain);
    overflow-x: hidden;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
    display: flex;
}
