menu {
    display: none;
    position: fixed;
    top: 6.07%;
    right: -100%;
    width: max-content;
    padding: 0 12vw;
    height: 94vh;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    background-color: #533466;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .8s;
    z-index: 8;
}

menu.open {
    position: fixed;
    top: 6.07%;
    right: 0;
    width: max-content;
    padding: 0 12vw;
    height: 94vh;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    background-color: #533466;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}

menu div {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

menu nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

menu nav a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    cursor: none;
    color: whitesmoke;
    font-size: 0.9em;
    font-family: var(--OpenSans);
    font-weight: 500;
    transition-duration: .3s;
}

menu nav a:hover {
    display: flex;
    color: #a05ca0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
}