@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: content-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: medium;
    font-display: swap;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Open_Sans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Operator;
    src: url(../fonts/Operator/OperatorMono-Medium.otf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@layer general {
    :root {
        --OpenSans: Open_Sans;
        --Ubuntu: Ubuntu;
        --codeFont: "JetBrains Mono";
        --Oswald: Oswald;
    }
}

@layer home {
    :root {
        --headerBackground: #0d121cb7;
        --footerBackground: #0d121cb0;
        --mainBackground: #0d121ca6;
    }
}

@layer codeColors {
    :root {
        --HashtagSymble: #c19958;
        --KeywordOperatorSymble: #ae4472;
        --String: #a2d177;
        --Type: #c19958;
        --Identifier: #945e47;
    }
}