p.dot {
    display: flex;
    align-items: center;
}

p.dot::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #585858;
    display: block;
}

p.dot::after {
    content: var(--c);
    font-size: var(--s);
    padding-left: 10px;
    font-family: 'Roboto';
    color: #585858;
}