p.pin {
    display: flex;
    align-items: center;
}

p.pin::before {
    content: '';
    width: 5px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    display: block;
}

p.pin::after {
    content: var(--c);
    font-size: var(--s);
    padding-left: 10px;
    font-family: 'Roboto';
}