@import url('./pin.css');
@import url('./dot.css');
@import url('./code-browser.css');

* { margin: 0; padding: 0; box-sizing: border-box; color: #fff; }

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background: url('./sitebg.png');
    background-size: cover;
    background-attachment: fixed;
}

section#top::before {
    overflow-x: hidden;
    content: '';
    width: 200vw;
    height: 100vh;
    background: black;
    display: block;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: -20px;
    z-index: -1;
}

section#top > ion-icon.arrow-down {
    color: #fffa;
    bottom: 30px;
    right: 50px;
    position: absolute;
    font-size: 3rem;
}

::-webkit-scrollbar {
    display: none;
}

section#top {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto';
    font-size: 3rem;
}

section#top > div {
    width: 85vw;
    margin-left: 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#top > div > div#about-section {
    width: 33vw;
}

section#top > div > div#about-section > div {
    background: #1d1d1d44;
    border: #302c36 1px solid;
    border-radius: 6px;
    padding: 15px 20px;
    width: 33vw;
}

section#top > div > div#about-section > div:hover {
    background: linear-gradient(17deg, #1d1d1d44, #7359A444, rgb(14, 6, 21));
    border: #7359A4 1px solid;
}

section#top > div > div#about-section > div > p.about {
    font-size: 17px;
    margin-top: 10px;
}

section#top h3 {
    font-family: 'Roboto';
    font-size: 2rem !important;
    color: #bbb;
}

span.strong {
    color: #7359A4;
}

div.row.around {
    justify-content: space-around;
}

div.row {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 19px;
}

div.row > a.space {
    margin-left: 10px;
}

div.row > a {
    background: #7359A4;
    padding: 5px 16px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
}

div.row > a.hollow {
    background: transparent;
    border: #fff 1px solid;
    color: #fff;
}

div.row > a.hollow:hover {
    background: #fff;
    border: #fff 1px solid;
    color: #7359A4;
}

div.row > a.hollow:hover > ion-icon {
    color: #7359A4;
}

a.disable {
    cursor: no-drop;
}

div.row > a > ion-icon:not(.no-padding) {
    padding-right: 5px;
}

div.spacement::before {
    content: '';
    width: 100vw;
    height: 4vh;
    display: block;
}

div.spacement::after {
    content: '';
    width: 100vw;
    height: 10vh;
    display: block;
}

section#code-exemples {
    display: block;
    z-index: -1;
    width: 95vw;
    margin-left: 2.5vw;
    border-radius: 10px;
    border: #ccc3 1px solid;
    height: 50vh;
    background: #6663;
    backdrop-filter: blur(8px);
}

div.spacement-box > div.row {
    height: 100%;
    width: 100%;
}

div.spacement-box {
    height: 95%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

section#code-exemples h3 {
    font-family: 'Roboto';
    font-size: 18px;
}

section#search {
    width: 100vw;
    height: 35vh;
    background: rgb(14, 6, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 24px;
}

section#search > div > div {
    text-align: center;
    margin-top: 20px;
    background: #302c3633;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #302c36 1px solid;
}

section#search > div > div:hover {
    background: linear-gradient(17deg, #1d1d1d44, #7359A444, rgb(14, 6, 21));
    border: #7359A4 1px solid;
}

section#search > div > div {
    --size: 40vw;
}

section#search > div > div,
section#search > div > div > div
{
    width: var(--size);
}

section#search > div > div > div {
    display: flex;
}
section#search > div > div > div > input,
section#search > div > div > div > button {
    background: none;
    border: none;
    outline: none;
}

section#search > div > div > div > input {
    width: calc(var(--size) / 100 * 80);
    font-size: 20px;
    padding-left: 30px;
    color: #888888;
}

section#search > div > div > div > button {
    width: calc(var(--size) / 100 * 20);
    cursor: pointer;
    font-size: 16px;
}

section#search h1 {
    text-align: center;
}

div.logo {
    background: url('logo.png');
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}
div.logo > label {
    opacity: 0;
    position: absolute;
    top: 22px;
    left: 35px;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: sans-serif, 'Roboto';
    transition: .1s;
}

div.logo:hover > label:not(:hover) {
    transform: translateY(-20px);
    opacity: 1;
    transition: .4s;
    background: #fff;
    color: #000;
}

section#how-are-we {
    width: calc(100vw - 40px);
    height: calc(120vh - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6663;
    font-family: 'Roboto';
    backdrop-filter: blur(8px);
    border: #ccc3 1px solid;
    border-radius: 10px;
}

section#how-are-we h1 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

section#how-are-we div.row-cards {
    padding-top: 10px;
    display: flex;
    width: 80vw;
    height: 85vh;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section#how-are-we div.row-cards > div {
    margin-top: 10px;
    width: calc(100% / 4 - 40px);
    border-radius: 10px;
    background: #fffb;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.div {
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: #000b;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.bflex div.div {
    background: #fffb;
}

section#how-are-we div.row-cards > div img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 20px;
}

section#how-are-we div.row-cards > div > div {
    width: 80%;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#how-are-we div.row-cards > div.lucas {
    border-bottom: #510ad6 3px solid;
}

section#how-are-we div.row-cards > div.renato {
    border-bottom: #d63d0a 3px solid;
}

section#how-are-we div.row-cards > div.bflex {
    border-bottom: #7359A4 3px solid;
    height: 100%;
}

section#how-are-we div.row-cards > div.eduardo {
    border-bottom: rgb(239, 188, 20) 3px solid;
}

section#how-are-we div.row-cards > div > div > h2,
section#how-are-we div.row-cards > div > div > p {
    color: #000b !important;
    text-align: center;
}

section#how-are-we div.row-cards > div > div > h2 {
    font-size: 20px;
}

section#how-are-we div.row-cards > div.bflex > div > h2,
section#how-are-we div.row-cards > div.bflex > div > p {
    color: #fffb !important;
    text-align: center;
}

section#how-are-we div.row-cards > div {
    transition: .1s;
}
section#how-are-we div.row-cards > div:not(.divisor):hover {
    cursor: pointer;
    transition: .1s;
}


section#how-are-we div.row-cards > div:not(.divisor):hover {
    transform: scale3d(1.01,1.01,1.01)
}

section#how-are-we div.row-cards > div > div > p {
    font-size: 15px;
}


section#how-are-we div.row-cards > div.bflex > div {
    padding-top: 110px;
    padding-bottom: 110px;
}
section#how-are-we div.row-cards > div.bflex {
    background: #000b;
    /* box-shadow: #000 0px 0px 3px; */
    min-height: 20%;
    max-height: 100%;
}

div.divisor {
    width: 5px !important;
    background: #ccc;
}

footer {
    background: url('./wave.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 50vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

footer h1 {
    font-family: 'Roboto';
    color: #000b!important;
    margin-top: 40px;
    font-size: 40px;
}

footer div.row {
    justify-content: center;
}

div.sub-footer {
    width: 100%;
    height: 70px !important;
    background: #fff;
    display: flex;
    justify-content: center;
}

div.sub-footer p {
    color: #000 !important;
    font-size: 18px;
    font-family: 'Jetbrains Mono', 'Roboto';
}

@media (max-width: 1080px) {

    section#search > div > div {
        --size: 90vw;
    }

    section#search h1 {
        font-size: 24px;
        text-align: center;
    }

    div.row {
        flex-direction: column;
    }

    code-browser {
        width: calc(90vw - 15px);
        margin-top: 20px;
        margin-bottom: 14px;
    }

    code-browser > code {
        font-size: 12px !important;
    }

    section#code-exemples {
        height: min-content;
    }

    section#code-exemples p.pin {
        margin-top: 10px;
    }

    div.row > a {
        margin-left: 0 !important;
        width: 90vw;
        justify-content: center;
        margin-top: 10px;   
    }

    section#top > div {
        flex-direction: column;
    }

    section#top > div > div#about-section {
        display: none;
    }

    section#top > ion-icon.arrow-down {
        display: none;
    }

    section#top::before {
        overflow-x: hidden;
        content: '';
        width: 100vw;
        height: 90vh;
        background: #000b;
        backdrop-filter: blur(8px);
        display: block;
        border-bottom-right-radius: 0;
        position: absolute;
        border-bottom: #7359A4 2px solid;
        top: -20px;
        z-index: -1;
    }

    section#how-are-we {
        overflow-x: hidden;
        width: 100vw;
        background: transparent;
        border: none;
        border-radius: 0px;
        margin: 0;
    }

    section#how-are-we div.row-cards::after {
        content: '';
        width: 100%;
        height: 30px;
    }

    section#how-are-we div.row-cards > div {
        height: 80vh;
        width: 100%;
    }

    section#how-are-we div.row-cards > div a {
        width: 70vw !important;
    }

    section#how-are-we div.row-cards > div > div > p {
        font-size: 11px;
    }

    div.divisor {
        width: 100% !important;
        height: 5px !important;
    }

    footer h1 {
        font-size: 30px;
        text-align: center;
    }
}